<p id="notice"><%= notice %></p>

<% unless @genre.series.empty? %>
<table class="series" summary="Genre series">
  <%= render @series %>
</table>
<% end %>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>

<p>
  <b>Description:</b>
  <%= @genre.description %>
</p>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
