<table>
<%= if @comments.length > 0
will_paginate 
end %>
  <tr>
    <th>Text</th>
    <th>Show</th>
    <th>User</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.text %></td>
    <td><%= Show.find(comment.show_id).name %></td>
    <td><%= User.find(comment.user_id).username %></td>
    <td><%= time_ago_in_words(Time.at(comment.time)) %> ago</td>
    <td><%= link_to 'Show', Show.find(comment.show_id) %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<%= if @comments.length > 0
will_paginate 
end %>
</table>