<%= form_for(@user, :html => { :multipart => true, :class => "form-horizontal" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>There were <%= pluralize(@user.errors.count, "error") %> problems processing this registration:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :avatar, "Avatar" %><br />
    <%= f.file_field :avatar %>
  </div>
<%  if signed_in? %>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "50x10" %>
  </div>
<% if can? :update, @user %>
  <% for userrole in Userrole.all %>
  <div>
    <%= check_box_tag "user[role_ids][]", userrole.id, @user.userroles.include?(userrole) %>
    <%=h userrole.name %>
  </div>
  <% end %>
  <%= hidden_field_tag "user[role_ids][]", "" %>
<% end %>
  <%= f.hidden_field :id, :value => @user.id %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% else %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<% end %>
