<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>There were <%= pluralize(@user.errors.count, "error") %> problems processing this registration:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :username %><br />
		<%= f.text_field :username %>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="field">
		<%= f.label :avatar, "Avatar" %><br />
		<%= f.file_field :avatar %>
	</div>
<% if admin_user? %>
	<div class="field">
		<%= f.label :userlevel %><br />
		<%= f.text_field :userlevel %>
	</div>
<% end %>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>
