  <p id="notice"><%= notice %></p>
  <div id="user_header">
    <div id="user_header_leftcol">
	<h1><%= @user.username %></h1>
        <h2><%= @user.gender %>, <%= @user.age %> years old</h2>
        <p class="user_description"><%= @user.description %></p>
        powerlevel thing goes here
    </div>
    <div id="user_header_rightcol">
      <%= button_tag "Friend", :class=>"Friend" %>
    </div>
  </div>
  <div id="user_feedlist">
    <div id="user_feed_selector">
      <ul>
        <li><%= link_to 'Feed', '#', :id=>'active_feed_link' %> </li>
        <li><%= link_to 'List', '#', :id=>'' %> </li>
        <li><%= link_to 'Reviews', '#', :id=>'' %> </li>
      </ul>
    </div>
    <div id="user_feed">
      <ul>
        <li>Feed </li>
        <li>Goes</li>
        <li>Here</li>
      </ul>
    </div>
  </div>
