<div class='row-fluid'>
  <div id='user_header'>
    <div class='span10'>
      <h1><%= @user.username %></h1>
      <h2><%= @user.gender %>, <%= @user.age %> years old</h2>
      <p><%= @user.description %></p>
    </div>
    <div class='span2'>
      <%= button_tag "Friend", :class=>"btn btn-primary btn-large" %>
    </div>
  </div>
</div>
<div class='row-fluid'>
  <div class='span12'>
    <div id="user_feed_selector">
      <ul>
        <li><%= link_to 'Feed', '#', :class => 'feed_link active_feed_link', :id=>'user_feed_link' %> </li>
        <li><%= link_to 'List', list_path(@user.lists.first, :user_id => @user.id, :format => :js), :class => 'feed_link', :id=>'user_list_link', :remote => true %> </li>
        <li><%= link_to 'Reviews', '#', :class => 'feed_link', :id=>'user_reviews_link' %> </li>
      </ul>
    </div>
  </div>
</div>
<div class='row-fluid'>
  <div class='span12'>
    <div id="user_feed">
      <ul>
        <li>Feed goes here.</li>
      </ul>
    </div>
  </div>
</div>