<p id="notice"><%= notice %></p>

<%= avatar_image %>

<div id = 'user_infobox'>
	<p>
		<b>Username:</b>
		<%= @user.username %>
	</p>

	<p>
		<b>Color:</b>
		<%= @user.color %>
	</p>

	<p>
		<b>User type:</b>
		<%= user_type(@user) %>
	</p>
</div>
<br />
<% if current_user?(@user) || admin_user? %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
