<h1>Listing tagtypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tagtypes.each do |tagtype| %>
  <tr>
    <td><%= tagtype.name %></td>
    <td><%= tagtype.color %></td>
    <td><%= link_to 'Show', tagtype %></td>
    <td><%= link_to 'Edit', edit_tagtype_path(tagtype) %></td>
    <td><%= link_to 'Destroy', tagtype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tagtype', new_tagtype_path %>
