<h1>Tags</h1>

<table>
  <tr>
	<th>Shows</th>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
	<td><%= Tagging.where(:tag_id => tag.id).count %></td>
    <td><%= prettify_tag_link(tag) %></td>
    <td><%= Tagtype.find(tag.tagtype_id).name %> (<%= link_to 'edit', edit_tag_path(tag) %>)</td>
    <td><%= tag_description_short(tag) %></td>
  </tr>
<% end %>
</table>