<p id="notice"><%= notice %></p>

<p>
  <b>Series:</b>
  <%= @tagging.series_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @tagging.tag_id %>
</p>


<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
