<p id="notice"><%= notice %></p>

<p>
  <b>Show:</b>
  <%= Show.find(@tagging.show_id).name %>
</p>

<p>
  <b>Tag:</b>
  <%= Tag.find(@tagging.tag_id).name %>
</p>


<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
