<h1>Shows</h1>

<table id = 'show_list'>

<%	i = 1
	@shows.each do |show| %>
  <tr class = 'show_list_a'>
    <td><%= i %></td>
    <td class = 'show_list_animepic'><%= if show.id.nil?
				link_to image_tag("shows/blank_thumb.png", :alt => ""), show
			else
				link_to image_tag(show.image.url(:thumb),:alt => "#{show.name}"), show
			end %></td>
    <td>
		<div class = 'list_show_title'><%= link_to show.name, show %></div>
		<div class = 'list_show_descrip'> 
		<%= if show.description.to_s.length > 300
			show.description.to_s.split('').first(300).to_s + "..."
		else
			show.description.to_s
		end %></div>
	</td>
  </tr>
  <tr class = 'show_list_b'>
    <td></td>
    <td>
		<span class = 'like_button'><%= link_to like_image + " " + show.upvotes.to_s + " likes", '#' %></span>
		<span class = 'dislike_button'><%= link_to dislike_image + " " + show.downvotes.to_s + " dislikes", '#' %></span>
	</td>
    <td><span class = 'list_tags'>Tags: 
	<%= output_string = ""
		unless show.taggeds.empty?
			show.taggeds.each do |tag|
				if output_string.blank?
					output_string = link_to(tag.name, tag)
				else
					output_string = "#{output_string}, " + link_to(tag.name, tag)
				end
			end
		else
			output_string = "None"
		end
		raw output_string %></span></td>
  </tr>
<%	i += 1
	end %>
</table>

<br />

<%= link_to 'New Show', new_show_path %>
