<table id = 'show_list'>
<%= if @shows.length > 0
will_paginate 
end %>
<%	if params[:page].to_i == 0 then
		i = 1
	else
		i = (params[:page].to_i - 1) * 30 + 1
	end
		@shows.each do |show| 
			if !show.nil?
%>
  <tr class = 'show_list_entry'>
    <td><%= i %></td>
    <td class = 'show_list_animepic'>
		<%= link_to show_image_thumb(show), show %><br />
		<%= display_show_like_button(show) %>
		<%= display_show_dislike_button(show) %>		
	</td>
    <td>
		<div class = 'list_show_title'><%= link_to show.name, show %></div>
		<div class = 'list_show_descrip'><%= show_description_short(show) %></div>
		<span class = 'list_tags'>Tags: <%= tag_cloud(show, 25) %></span>
	</td>
  </tr>
<%				i += 1
			end
	end %>
</table><br />
<%= if @shows.length > 0
will_paginate 
end %>
<% if @shows.empty? %>
Nobody here but us chickens!
<% end %>
<br />

<%= link_to 'New Show', new_show_path %>
