<table id = 'show_list'>
<%= will_paginate %>
<%	i = 1
		@shows.each do |show| %>
  <tr class = 'show_list_a'>
    <td><%= i %></td>
    <td class = 'show_list_animepic'><%= show_image_thumb(show) %></td>
    <td>
		<div class = 'list_show_title'><%= link_to show.name, show %></div>
		<div class = 'list_show_descrip'><%= show_description_short(show) %></div>
	</td>
  </tr>
  <tr class = 'show_list_b'>
    <td></td>
    <td>
		<span class = 'like_button'><% if signed_in? %><%= link_to like_image + " " + show.upvotes.to_s + " likes", '#' %><% else %><%= like_image + " " + show.upvotes.to_s + " likes" %><% end %></span>
		<span class = 'dislike_button'><% if signed_in? %><%= link_to dislike_image + " " + show.downvotes.to_s + " dislikes", '#' %><% else %><%= dislike_image + " " + show.downvotes.to_s + " likes" %><% end %></span>
	</td>
    <td><span class = 'list_tags'>Tags: 
	<%= tag_cloud(show) %></span></td>
  </tr>
<%	i += 1
	end %>
</table>
<%= will_paginate %>
<% if @shows.empty? %>
Nobody here but us chickens!
<% end %>
<br />

<%= link_to 'New Show', new_show_path %>
