<table id = 'show_list'>
<%= if @shows.length > 0
will_paginate 
end %>
<%	if params[:page].to_i == 0 then
		i = 1
	else
		i = (params[:page].to_i - 1) * 30 + 1
	end
		@shows.each do |show| 
			if !show.nil?
%>
  <tr class = 'show_list_entry'>
    <td><%= i %></td>
    <td class = 'show_list_animepic'>
		<%= link_to show_image_thumb(show), show %><br />
		<span class = 'like_button'><% if signed_in? %><%= link_to like_image + " " + show.upvotes.to_s + " likes", '#', :method => :create, :remote => true, :class => 'upvote_show' %><% else %><%= like_image + " " + show.upvotes.to_s + " likes" %><% end %></span>
		<span class = 'dislike_button'><% if signed_in? %><%= link_to dislike_image + " " + show.downvotes.to_s + " dislikes", '#', :method => :create, :remote => true, :class => 'upvote_show' %><% else %><%= dislike_image + " " + show.downvotes.to_s + " likes" %><% end %></span>
	</td>
    <td>
		<div class = 'list_show_title'><%= link_to show.name, show %></div>
		<div class = 'list_show_descrip'><%= show_description_short(show) %></div>
		<span class = 'list_tags'>Tags: <%= tag_cloud(show, 25) %></span>
	</td>
  </tr>
<%				i += 1
			end
	end %>
</table><br />
<%= if @shows.length > 0
will_paginate 
end %>
<% if @shows.empty? %>
Nobody here but us chickens!
<% end %>
<br />

<%= link_to 'New Show', new_show_path %>
