<div id = 'show_box'>
  <h1><%= @show.name %></h1>
  <%= simple_format(@show.description) %>

  <p>
    <b>Length:</b>
    <%= @show.length %>
  </p>

  <p>
    <b>Voting:</b>
    <%= display_show_like_button(@show) %>
    <%= display_show_dislike_button(@show) %>
  </p>

  <p>
    <b>Tags:</b>
    <%= tag_cloud(@show) %>
  </p>
</div>
<h2>Comments:</h2>
<% unless @comments.empty? %>
<table class="comments" summary="Show comments">
  <%= render @comments %>
</table>
<% else %>
No comments on this series yet. Be the first!
<% end %>
<% if signed_in? 
  if @comment.nil?
    @comment = Comment.new
  end
%>
  <%= render :partial => 'comments/form' %>
<% end %>