<div class="sidebar">  
	<div style="margin-bottom: 1em;">
		<h5>Tags</h5>
		<div id="sidebar-tags">
			<%= show_tag_sidebar(@popularTags) %>
		</div>      
	</div>
</div>

<p id="notice"><%= notice %></p>

<%= show_image %>
<div id = 'show_infobox'>
	<%= simple_format(@show.description) %>

	<p>
	  <b>Length:</b>
	  <%= @show.length %>
	</p>

	<p>
	  <b>Link:</b>
	  <%= link_to @show.link, @show.link %>
	</p>

	<p>
	  <b>Voting:</b>
	  <%= like_image + " " + @show.upvotes.to_s %> | <%= dislike_image + " " + @show.downvotes.to_s %>
	</p>

	<p>
	  <b>Tags:</b>
	  <%= tag_cloud(@show) %>
	</p>
</div><br />
<%= link_to 'Edit Anime Information', edit_show_path(@show) %>


<h2>Comments:</h2>
<% unless @comments.empty? %>
<table class="comments" summary="Show comments">
  <%= render @comments %>
</table>
<% else %>
No comments on this series yet. Be the first!
<% end %>
<% if signed_in? 
	if @comment.nil?
		@comment = Comment.new
	end
%>
	<%= render :partial => 'comments/form' %>
<% end %>