  <td class="series">
    <a href = '/series/<%= series.id %>' title='<%= series.description %>' alt='<%= series.name %>'><img src = '/images/series/<%= series.name 
%>.png' 
/><br />
<%= series.name 
%></a>
  </td>
