<p id="notice"><%= notice %></p>

<img src='/images/series/<%= @series.name %>.png' />
<br />
<p>
  <b>Name:</b>
  <%= @series.name %>
</p>

<p>
  <b>Description:</b>
  <%= @series.description %>
</p>

<p>
  <b>Link:</b>
  <%= link_to @series.link , @series.link %>
</p>

<p>
  <b>Tags:</b>
  <%= #@taggings.each do |tag|
#	tag.name + " | "
#end
 %>
</p>

<h2>Comments:</h2>
<% unless @comments.empty? %>
<table class="comments" summary="Series comments">
  <%= render @comments %>
</table>
<% end %>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
